<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="easyparking-vehiculo-heading"
        data-cy="VehiculoCreateUpdateHeading"
        easyparkingTranslate="easyparkingApp.vehiculo.home.createOrEditLabel"
      >
        Create or edit a Vehiculo
      </h2>

      <div>
        <easyparking-alert-error></easyparking-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" easyparkingTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.vehiculo.placa" for="field_placa">Placa</label>
          <input type="text" class="form-control" name="placa" id="field_placa" data-cy="placa" formControlName="placa" />
          <div *ngIf="editForm.get('placa')!.invalid && (editForm.get('placa')!.dirty || editForm.get('placa')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('placa')?.errors?.required"
              easyparkingTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('placa')?.errors?.maxlength"
              easyparkingTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.vehiculo.tipoVehiculo" for="field_tipoVehiculo"
            >Tipo Vehiculo</label
          >
          <select class="form-control" id="field_tipoVehiculo" data-cy="tipoVehiculo" name="tipoVehiculo" formControlName="tipoVehiculo">
            <option *ngIf="!editForm.get('tipoVehiculo')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                tipoVehiculoOption.id === editForm.get('tipoVehiculo')!.value?.id ? editForm.get('tipoVehiculo')!.value : tipoVehiculoOption
              "
              *ngFor="let tipoVehiculoOption of tipoVehiculosSharedCollection; trackBy: trackTipoVehiculoById"
            >
              {{ tipoVehiculoOption.marcaVehiculo }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['tipoVehiculo'])!.invalid && (editForm.get(['tipoVehiculo'])!.dirty || editForm.get(['tipoVehiculo'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['tipoVehiculo'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.vehiculo.registro" for="field_registro">Registro</label>
          <select class="form-control" id="field_registro" data-cy="registro" name="registro" formControlName="registro">
            <option *ngIf="!editForm.get('registro')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="registroOption.id === editForm.get('registro')!.value?.id ? editForm.get('registro')!.value : registroOption"
              *ngFor="let registroOption of registrosSharedCollection; trackBy: trackRegistroById"
            >
              {{ registroOption.horaIngreso }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['registro'])!.invalid && (editForm.get(['registro'])!.dirty || editForm.get(['registro'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['registro'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
