<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="easyparking-facturacion-heading"
        data-cy="FacturacionCreateUpdateHeading"
        easyparkingTranslate="easyparkingApp.facturacion.home.createOrEditLabel"
      >
        Create or edit a Facturacion
      </h2>

      <div>
        <easyparking-alert-error></easyparking-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" easyparkingTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.fechaFactura" for="field_fechaFactura"
            >Fecha Factura</label
          >
          <div class="input-group">
            <input
              id="field_fechaFactura"
              data-cy="fechaFactura"
              type="text"
              class="form-control"
              name="fechaFactura"
              ngbDatepicker
              #fechaFacturaDp="ngbDatepicker"
              formControlName="fechaFactura"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaFacturaDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="editForm.get('fechaFactura')!.invalid && (editForm.get('fechaFactura')!.dirty || editForm.get('fechaFactura')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaFactura')?.errors?.required"
              easyparkingTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.valorFactura" for="field_valorFactura"
            >Valor Factura</label
          >
          <input
            type="number"
            class="form-control"
            name="valorFactura"
            id="field_valorFactura"
            data-cy="valorFactura"
            formControlName="valorFactura"
          />
          <div
            *ngIf="editForm.get('valorFactura')!.invalid && (editForm.get('valorFactura')!.dirty || editForm.get('valorFactura')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valorFactura')?.errors?.required"
              easyparkingTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valorFactura')?.errors?.number"
              easyparkingTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.registro" for="field_registro">Registro</label>
          <select class="form-control" id="field_registro" data-cy="registro" name="registro" formControlName="registro">
            <option *ngIf="!editForm.get('registro')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="registroOption.id === editForm.get('registro')!.value?.id ? editForm.get('registro')!.value : registroOption"
              *ngFor="let registroOption of registrosSharedCollection; trackBy: trackRegistroById"
            >
              {{ registroOption.horaIngreso }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['registro'])!.invalid && (editForm.get(['registro'])!.dirty || editForm.get(['registro'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['registro'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option *ngIf="!editForm.get('cliente')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.nombreCliente }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['cliente'])!.invalid && (editForm.get(['cliente'])!.dirty || editForm.get(['cliente'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['cliente'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.visitante" for="field_visitante">Visitante</label>
          <select class="form-control" id="field_visitante" data-cy="visitante" name="visitante" formControlName="visitante">
            <option *ngIf="!editForm.get('visitante')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="visitanteOption.id === editForm.get('visitante')!.value?.id ? editForm.get('visitante')!.value : visitanteOption"
              *ngFor="let visitanteOption of visitantesSharedCollection; trackBy: trackVisitanteById"
            >
              {{ visitanteOption.nombrevisitante }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['visitante'])!.invalid && (editForm.get(['visitante'])!.dirty || editForm.get(['visitante'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['visitante'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.empleado" for="field_empleado">Empleado</label>
          <select class="form-control" id="field_empleado" data-cy="empleado" name="empleado" formControlName="empleado">
            <option *ngIf="!editForm.get('empleado')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="empleadoOption.id === editForm.get('empleado')!.value?.id ? editForm.get('empleado')!.value : empleadoOption"
              *ngFor="let empleadoOption of empleadosSharedCollection; trackBy: trackEmpleadoById"
            >
              {{ empleadoOption.nombreEmpleado }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['empleado'])!.invalid && (editForm.get(['empleado'])!.dirty || editForm.get(['empleado'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['empleado'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.facturacion.formaDePago" for="field_formaDePago"
            >Forma De Pago</label
          >
          <select class="form-control" id="field_formaDePago" data-cy="formaDePago" name="formaDePago" formControlName="formaDePago">
            <option *ngIf="!editForm.get('formaDePago')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                formaDePagoOption.id === editForm.get('formaDePago')!.value?.id ? editForm.get('formaDePago')!.value : formaDePagoOption
              "
              *ngFor="let formaDePagoOption of formaDePagosSharedCollection; trackBy: trackFormaDePagoById"
            >
              {{ formaDePagoOption.formaPago }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['formaDePago'])!.invalid && (editForm.get(['formaDePago'])!.dirty || editForm.get(['formaDePago'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['formaDePago'])?.errors?.required"
            easyparkingTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
