<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="facturacion">
      <h2 data-cy="facturacionDetailsHeading"><span easyparkingTranslate="easyparkingApp.facturacion.detail.title">Facturacion</span></h2>

      <hr />

      <easyparking-alert-error></easyparking-alert-error>

      <easyparking-alert></easyparking-alert>

      <dl class="row-md jh-entity-details">
        <dt><span easyparkingTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ facturacion.id }}</span>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.fechaFactura">Fecha Factura</span></dt>
        <dd>
          <span>{{ facturacion.fechaFactura | formatMediumDate }}</span>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.valorFactura">Valor Factura</span></dt>
        <dd>
          <span>{{ facturacion.valorFactura }}</span>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.registro">Registro</span></dt>
        <dd>
          <div *ngIf="facturacion.registro">
            <a [routerLink]="['/registro', facturacion.registro?.id, 'view']">{{ facturacion.registro?.horaIngreso }}</a>
          </div>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="facturacion.cliente">
            <a [routerLink]="['/cliente', facturacion.cliente?.id, 'view']">{{ facturacion.cliente?.nombreCliente }}</a>
          </div>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.visitante">Visitante</span></dt>
        <dd>
          <div *ngIf="facturacion.visitante">
            <a [routerLink]="['/visitante', facturacion.visitante?.id, 'view']">{{ facturacion.visitante?.nombrevisitante }}</a>
          </div>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.empleado">Empleado</span></dt>
        <dd>
          <div *ngIf="facturacion.empleado">
            <a [routerLink]="['/empleado', facturacion.empleado?.id, 'view']">{{ facturacion.empleado?.nombreEmpleado }}</a>
          </div>
        </dd>
        <dt><span easyparkingTranslate="easyparkingApp.facturacion.formaDePago">Forma De Pago</span></dt>
        <dd>
          <div *ngIf="facturacion.formaDePago">
            <a [routerLink]="['/forma-de-pago', facturacion.formaDePago?.id, 'view']">{{ facturacion.formaDePago?.formaPago }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/facturacion', facturacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
