<div
  class="row"
  [ngStyle]="{
    'margin-left': '20%',
    'padding-bottom': '130px'
  }"
>
  <div class="col-md-9">
    <h1 class="display-4">
      <span easyparkingTranslate="home.title" [translateValues]="{ username: account?.login }">Welcome User, {{ account?.login }}! </span>
    </h1>

    <p class="lead" easyparkingTranslate="home.subtitle">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span
          id="home-logged-message"
          *ngIf="account"
          easyparkingTranslate="home.logged.message"
          [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span easyparkingTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" easyparkingTranslate="global.messages.info.authenticated.link">sign in</a
        ><span easyparkingTranslate="global.messages.info.authenticated.suffix"
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span easyparkingTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" easyparkingTranslate="global.messages.info.register.link"
          >Register a new account</a
        >
      </div>
    </div>

    <p>
      <span easyparkingTranslate="home.about">If you Have Answers About our Follow the next Link</span>
      <a href="http://localhost:9000" target="_blank" rel="noopener noreferrer" easyparkingTranslate="home.github">GitHub</a>!
    </p>
  </div>
</div>
