<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="easyparking-empleado-heading"
        data-cy="EmpleadoCreateUpdateHeading"
        easyparkingTranslate="easyparkingApp.empleado.home.createOrEditLabel"
      >
        Create or edit a Empleado
      </h2>

      <div>
        <easyparking-alert-error></easyparking-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" easyparkingTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.empleado.nombreEmpleado" for="field_nombreEmpleado"
            >Nombre Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreEmpleado"
            id="field_nombreEmpleado"
            data-cy="nombreEmpleado"
            formControlName="nombreEmpleado"
          />
          <div
            *ngIf="
              editForm.get('nombreEmpleado')!.invalid && (editForm.get('nombreEmpleado')!.dirty || editForm.get('nombreEmpleado')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreEmpleado')?.errors?.required"
              easyparkingTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreEmpleado')?.errors?.maxlength"
              easyparkingTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.empleado.apellidoEmpleado" for="field_apellidoEmpleado"
            >Apellido Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoEmpleado"
            id="field_apellidoEmpleado"
            data-cy="apellidoEmpleado"
            formControlName="apellidoEmpleado"
          />
          <div
            *ngIf="
              editForm.get('apellidoEmpleado')!.invalid &&
              (editForm.get('apellidoEmpleado')!.dirty || editForm.get('apellidoEmpleado')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('apellidoEmpleado')?.errors?.maxlength"
              easyparkingTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.empleado.cargoEmpleado" for="field_cargoEmpleado"
            >Cargo Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="cargoEmpleado"
            id="field_cargoEmpleado"
            data-cy="cargoEmpleado"
            formControlName="cargoEmpleado"
          />
          <div
            *ngIf="
              editForm.get('cargoEmpleado')!.invalid && (editForm.get('cargoEmpleado')!.dirty || editForm.get('cargoEmpleado')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cargoEmpleado')?.errors?.required"
              easyparkingTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cargoEmpleado')?.errors?.maxlength"
              easyparkingTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" easyparkingTranslate="easyparkingApp.empleado.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phone')?.errors?.required"
              easyparkingTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phone')?.errors?.maxlength"
              easyparkingTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span easyparkingTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
