<div>
  <h2 id="page-heading" data-cy="RegistroHeading">
    <span easyparkingTranslate="easyparkingApp.registro.home.title">Registros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span easyparkingTranslate="easyparkingApp.registro.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-registro"
        [routerLink]="['/registro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span easyparkingTranslate="easyparkingApp.registro.home.createLabel"> Create a new Registro </span>
      </button>
    </div>
  </h2>

  <easyparking-alert-error></easyparking-alert-error>

  <easyparking-alert></easyparking-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="registros?.length === 0">
    <span easyparkingTranslate="easyparkingApp.registro.home.notFound">No registros found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="registros && registros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span easyparkingTranslate="global.field.id">ID</span></th>
          <th scope="col"><span easyparkingTranslate="easyparkingApp.registro.horaIngreso">Hora Ingreso</span></th>
          <th scope="col"><span easyparkingTranslate="easyparkingApp.registro.horaSalida">Hora Salida</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/registro', registro.id, 'view']">{{ registro.id }}</a>
          </td>
          <td>{{ registro.horaIngreso | formatMediumDatetime }}</td>
          <td>{{ registro.horaSalida | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/registro', registro.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" easyparkingTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/registro', registro.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" easyparkingTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(registro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" easyparkingTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
